mi-navegador {
  display: block;
  background-color:
    var(--colorMiNav);
}

mi-navegador ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

mi-navegador ul li {
  margin: 0.5rem;
}
